<div class="ui small modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    系统日志
  </div>
  <div class="content">
    <table class="ui table">
      <thead>
      <tr>
        <th>操作人</th>
        <th>Changes</th>
        <th>Related Changes</th>
      </tr>
      </thead>

      <tbody>
      <% @audits.each do |audit| %>
        <%= render partial: 'audit', locals: { audit: audit } %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
