<div class="ui modal" id="modal">
  <i class="fa-light fa-times close"></i>
  <div class="ui header">
    <%= t('.title') %>
  </div>
  
  <div class="content">
    <%= render 'table' %>
  </div>
</div>
