<div data-controller="menu empty" class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-tape"></i>
      <span><%= t('auditor.panel.title') %></span>
    </div>
  </div>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('auditor.panel.audits.index.title'), { controller: 'auditor/panel/audits' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['audits'], active: 'is-active') %>
  </div>
</div>
